 <div class="col-lg-1 col-centered">
  <h1>Geotracking </h1>
</div>

  <div id="route-map" style = "height: 450px;"></div>
  <%= render 'route_map' %>
    <section class="success" id="about">
        <div class="container">
            <div class="row">
              Showing route for <%= @oo.each {|loc| puts loc[0]} %>
                <div class="col-lg-12 text-center">
                    <h2>Try it</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
              <%= render 'route_form' %>
              <%= render 'photo_form' %>            
            </div>
        </div>
<%= render 'photo_map' %>
    </section>



